<div class="p-5">
    <div class="container">
        <h1> Casa </h1>
        <p> Lapidando sonhos e trazendo beleza e vida aos lares. </p>
    </div>
</div>
<div class="bg-theme category-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-3 d-flex justify-content-center">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mb-3 d-flex justify-content-center">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mb-3 d-flex justify-content-center">
                <app-post-card></app-post-card>
            </div>
            <div class="col-lg-4 mb-3 d-flex justify-content-center">
                <app-post-card></app-post-card>
            </div>
        </div>
    </div>
</div>