<nav class="navbar navbar-expand-lg fixed-top">
    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item ml-3"><a href="" class="nav-link"> Sobre </a></li>
            <li class="nav-item ml-3"><a href="" class="nav-link"> Portfólio </a></li>
            <li class="nav-item ml-3"><a href="" class="nav-link"> Residências </a></li>
            <li class="nav-item ml-3"><a href="" class="nav-link"> Eventos </a></li>
            <li class="nav-item ml-3"><a href="" class="nav-link"> Contato </a></li>
        </ul>
    </div>
</nav>