<div class="container">
    <div class="row">
        <div class="mt-3">
            <img src="https://www.plantapronta.com.br/projetos/140/01.jpg" alt="" class="card-img-top img-fluid"> 
            <div class="card-body">
                <div class="row text-center mt-3">
                    <div class="col">
                        <small class="d-block">Tipo</small>
                    </div>
                    <div class="col">
                        <small class="d-block">Função</small>
                    </div>
                    <div class="col">
                        <small class="d-block">Estética</small>
                    </div>
                    <div class="col">
                        <small class="d-block">Publicado em dd/mm/aaaa</small>
                    </div>

                    <h1 class="mt-3 mb-3">Bear Creek Canyon Contemporary</h1>
                    <p>LOCATION: Jefferson County, CO</p>
                    <p>PROJECT TYPE: Custom Home</p>
                    <p>BUILDER: Ascent Builders</p>
                    <p>SIZE: 4,650 SF</p>
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <img src="https://www.plantapronta.com.br/projetos/140/01.jpg" alt="" class="card-img-top img-fluid">
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <app-post-card></app-post-card>
                </div>
                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                    <app-post-card></app-post-card>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
