<div class="contact-container">
    <div class="contact-details">
      <div class="contact-item">
        <h3>Instagram</h3>
        <a href="https://www.instagram.com/fellipecorreia.arq/" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" alt="Instagram">
          <span>Felipe Correia</span>
        </a>
      </div>
  
      <div class="contact-item whatsapp">
        <h3>WhatsApp</h3>
        <a href="https://api.whatsapp.com/send/?phone=5562985275542&text&type=phone_number&app_absent=0" target="_blank">
          <img src="https://cdn-icons-png.freepik.com/256/3983/3983877.png?semt=ais_hybrid" alt="WhatsApp">
          <span>+55 62 98527-5542</span>
        </a>
      </div>
  
      <div class="contact-item">
        <h3>Localização</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d680.2104191549224!2d-49.127924962217804!3d-15.330319595852927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935cc30401ec88ed%3A0x75f7bc599f78947b!2sFellipe%20Correia%20Arquitetura%20e%20Interiores!5e0!3m2!1spt-BR!2sbr!4v1725046416720!5m2!1spt-BR!2sbr" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  