<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <ul class="nav justify-content-center">
                        <li class="nav-item ml-3"><a href="" class="nav-link"> Sobre </a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link"> Portfólio </a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link"> Residências </a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link"> Eventos </a></li>
                        <li class="nav-item ml-3"><a href="" class="nav-link"> Contato </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>